#box{
   height: 60vh;
   width: 75vw;
   background-color: whitesmoke;
   margin: auto;
   margin-top: 5%;
   border-radius: 60px;
   padding: 5vmax;
   font-size: 5vw;
   min-height: 300px;
   min-width: 300px;
   
   
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:60%;
    gap: 5%;
}

#texto1{
    align-self: center;
    font-size: 70%;
    grid-column-start: 1;
    grid-column-end: 2;
   
    grid-row-start: 1;
    grid-row-end: 2;
}

#input{
    align-self: center;
    font-size: 60%;
    grid-column-start: 2;
    grid-column-end: -1;

    grid-row-start: 1;
    grid-row-end: 2;
}

#botao-trocar{
    height: fit-content;
    width: fit-content;
    margin-left: 60%;
    font-size: 100%;
    grid-column-start: 3;
    grid-column-end: -1;

    grid-row-start: 2;
    grid-row-end: 3;
}

#botao-converter{
    height: fit-content;
    font-size: 75%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start:3;
    grid-row-end: 4;
}
